/.vs
/x64
/V_FrameWork/x64
/.claude
mgsvtpp.exe.c
mgsvtpp_1_0_15_3_jp.exe.c
mgsvtpp.exe.txt
mgsvtpp.exe_Addresses.txt
Tpp_main_win64.exe.txt
Tpp_main_win64.exe.c
mgsvtpp_1_0_15_3_jp.exe.txt
Tpp_main_win64.exe_Addresses.txt
mgsvtpp_1_0_15_3_jp.exe_Addresses.txt
jp_addr_clean.txt
/__pycache__
mgsvtpp_Addresses.exe.txt
UpgradeLog.htm
mgsvtpp_1_0_15_3_jp_Addresses.exe.txt
